.show {
  display: block !important;
}
%oblique-img {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  transform: rotate(45deg);
  & img {
    transform: rotate(-45deg);
    //width: 100%;
  }
}
.title {
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #00ddf1;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    background-image: url("../images/after_title.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    width: 37px;
    height: 20px;
  }
}